@media (orientation: portrait) {

body{
    margin:0;
    padding:0;
    text-align: center;
    max-height: 100%;
}

h1{
    text-align: center;
    font-family: 'Poiret One', cursive;
    margin-top:10% !important;
    margin-bottom:10% !important;
}

.img{
    margin:0 auto;
}
}

@media (orientation: landscape) and (max-width:1000px){
    body{
    margin:0;
    padding:0;
    max-height: 60% !important;
}

h1{
    text-align: center;
    font-family: 'Poiret One', cursive;
    margin-top:10% !important;
    margin-bottom:10% !important;
    font-size:6vw;
}

.img{
   display:none;
}
    }